body{
    font-family: "Poppins", sans-serif;
}

header {
    height: 200px;
    display: flex;
    flex-direction: row;
    background-color: #0075BE;
    overflow: hidden;
    justify-content: center;
}

.pokelogo {
    height: 225px;
    opacity: 0.1;
    margin: 0px 300px 0px 300px;
}

input {
    height: 40px;
    width: 500px;
    border-radius: 12.5px;
    margin: auto;
    font-size: 17px;
    padding-left: 10px;
}

.pesquisar {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.tudo {
    display: flex;
    flex-direction: row;
    min-height: 90vh;
}

.caixa {
    position: relative;
    right: 150px;
    top: 20px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caixa img {
    width: 350px;

}

.direito {
    width: 60%;
}

.caixa2 {
    display: flex;
    flex-direction: row;
}

.caixa4 {
    display: flex;
    flex-direction: row;
}